// Colors
$color-dark:   #1A1617;
$color-yellow: #FEC400;
$color-pink:   #D9276B;
$color-gray:   #37383C;
$color-light:  #FDFDFD;

// Fonts
$main-font: 'Vestige', sans-serif;
$second-font: 'Onyra', sans-serif;

// Font-Size
$size-xs: 0.75rem;   // 12px
$size-sm: 0.875rem;  // 14px
$size-md: 1rem;      // 16px
$size-lg: 1.25rem;   // 20px
$size-xl: 1.5rem;    // 24px
$size-xxl: 2rem;     // 32px
$size-xxxl: 2.5rem;  // 40px

// Font-Weight
$font-weight-xxlight: 100;
$font-weight-xlight: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-black: 900;

// Spacing
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 32px;
$spacing-xl: 64px;

// Borders
$border-radius-sm: 4px;
$border-radius-md: 8px;
$border-radius-lg: 16px;